
@{
    ViewBag.Title = "Sobre";
}

<h2><b>@ViewBag.Titulo</b></h2>

<p>
    Aplicativo para (des)criptografar textos com base na cifra Vigenère!
</p>

<p>
    A cifra de Vigenère é um método de criptografia que usa uma série de diferentes cifras de César baseadas em letras de uma senha. Trata-se de uma versão simplificada de uma mais geral cifra de substituição polialfabética, inventada por Leone Battista Alberti cerca de 1465.
</p>

<p>
    Neste aplicativo o usuário tem a chance de aplicar a criptografia com base em uma chave escolhida, bem como descriptografar com a mesma chave!
</p>

<hr />

<div class="jumbotron" style="border-style:groove">
    <h2><b>Equipe de Desenvolvedores</b></h2>
    <hr />
    <p>Leonardo Farias Cruz</p>
    <p>Geisiane Ribeiro Cavalcante</p>
    <p>Maria Évila Vituriano da Silva </p>
</div>